body {
    margin: 0px;
    display: grid;
    grid-template-rows: 8em 3em auto 10em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header header header"
        "menu menu menu menu menu menu"
        "main main main main main ."
        "footer footer footer footer footer footer";
}

h1 {
    margin-top: 25px;
    margin-left: 4.5%;
    font-size: 4em;
    color: #DA0037;
}

h2 {
    font-size: 2em;
    color: #EDEDED;

}

header {
    font-family: 'Archivo', sans-serif;
    font-style: italic;
    grid-area: header;
    background-color: #171717;
    
}

menu {
    padding-top: 10px;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-size: 2em;
    text-align: center;
    color: #EDEDED;
    margin: 0;
    background-color: #444444;
    padding: 0;
}

menu a {
    text-decoration: none;
    vertical-align: sub;
}

menu a:visited{
    color: #EDEDED;
}

main {
    grid-area: main;
    min-height: 500px;
    margin-left: 75px;
    margin-top: 30px;
    font-family: 'Archivo', sans-serif;
    color: #171717;
}

table {
    text-align: left;
    width: 60%;
    line-height: 1.5;
}

table thead {
    font-size: 1.5em;
    height: 50px;
}

table a {
    font-style: italic;
}

.matches_table {
    width: 100%
}

.player_table {
    width: 75%
}

.main_index {
    font-style: None;
    font-size: 3em;
    line-height: 1.6;
    font-weight: normal;
}

main a {
    text-decoration: none;
    color: #DA0037;
    font-style: None;
    font-weight: lighter;
}

.link_box {
    background-color: #DA0037;
    padding-right: 150px;
}

main a:visited{
    color: #DA0037;
}

main h1 {
    margin-top: 0px;
    margin-left: 0;
    font-size: 3em;
    font-style: italic;
    font-weight: normal;
}



footer {
    font-family: 'Archivo', sans-serif;
    font-style: italic;
    grid-area: footer;
    background-color: #171717;
}