{% extends 'base.html' %}

{% block content %}
<h1> Match: {{match['match'].id}} </h1>

<table>
    <thead>
        <th>Player 1</th>
        <th>Player 2</th>
        <th>Winner</th>
    </thead>
    <tbody>
        <tr>
        <td>{{match['player1'].name}}</td>
        <td>{{match['player2'].name}}</td>
        <td>{{winner}}</td>
        </tr>
        <tr>
            <td><a href="/matches/{{match['match'].id}}/p1w">Win</a></td>
            <td><a href="/matches/{{match['match'].id}}/p2w">Win</a></td>
        </tr>
    </tbody>
</table>


{% endblock %}