<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Tourny App</title>
</head>
<body>
    <header>
      <h1 class="header">Tourny</h1>
    </header>

    <menu>
      <a href="http://localhost:5000">Home</a>
    </menu>
    <menu>
      <a href="http://localhost:5000/players">Players</a>
    </menu>
    <menu>
      <a href="http://localhost:5000/matches">Matches</a>
    </menu>
    <menu></menu>
    <menu></menu>
    <menu></menu>

  <section>
      {% block content %}

      {% endblock%}
  </section>

</body>
</html>




